<ion-header>
  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="top" color="primary">
        <ion-tab-button tab="account">
          <ion-icon name="qr-scanner"></ion-icon>
          <ion-label>Escaner</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="contact">
          <ion-icon name="arrow-round-down"></ion-icon>
          <ion-label>Recibir</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="cash"></ion-icon>
          <ion-label>0 Bs.</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" offset-md="3">
        <div class="ion-text-justify">
          <ion-text color="primary">Muy importante: </ion-text>Señor(a) usuario para relaizar pagos agregar dinero al
          balance.
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" offset-md="3">
        <div class="ion-text-justify">
          Puede observar su saldo en Balance.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>